<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YOUVA FASIONS</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/user/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/user/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/user/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="/user/img/icon/search.png" alt=""></a>
            <a href="#"><img src="/user/img/icon/heart.png" alt=""></a>
         <a href="#"> <img src="/user/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>


        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Sign in</a>
                                <a href="#">FAQs</a>
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin-left: 0%;">
            <div class="row" style="align-items: center; height: 110px; margin-right: -20%;">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="/user/img/yuvafasions.png" alt="" style="scale: 0.6; margin-top: -22%;"></a>
                    </div>
                </div>
                <!-- <img src="/user/img/yuvafasions.png" alt="logo" style="vertical-align: left; float: left;"/> -->
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu" style="margin-top: -10%;">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li> <a href="/shopnow">ShopNow</a></li>
                            <!-- if(user)                         else<a href="/login"></a> -->
                            <li><a href="/about">About Us</a></li>
                            <!-- <li><a href="#">Pages</a>.
                                0
                                <ul class="dropdown">
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li> -->
                            <!-- <li><a href="./blog.html">Blog</a></li> -->
                            <li><a href="/contactus">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3" >
                    <div class="header__nav__option" style="margin-top: -20%;">
                        <a href="#" class="search-switch"><img src="/user/img/icon/search.png" style="width: 25px;" alt=""></a>
                        <a href=""><img src="/user/img/icon/heart.png"  style="width: 25px;" alt=""></a>
                        <!-- <a href=""><img src="/user/img/icon/cart.png" alt=""> <span>0</span></a> -->
                        <a href="/getcart"><img src="/user/img/icon/cart.png" style="width: 25px;" alt=""> <span style="width: 30px;"></span></a>
                        <!-- <div class="price">$0.00</div> -->
                        <!-- <button class="btn btn-danger"><a href="/logout"> logout </a></button> -->
                        
                        
                        <!-- bi bi-person-square -->
                        <a href="" class="btn" data-toggle="modal" data-target="#exampleModalCenter"><img src="/user/img/icon/profile.png" style="width: 35px;" alt=""> <span style="width: 30px;"></span><i class="bi bi-person-square"></i></a>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
        
          
    </header>
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->

    <!-- Header Section End -->
